body {
    font-family: sans-serif;
    font-size: 19px;
    background-color: rgb(255, 255, 255);
    margin: 0;
   
}

header {
    
    background-color: #2e3334;

    
}

button{
    padding: 5px;
    
}
footer{
    position: absolute;
    background-color: #2e3334;
    padding: 1px;
    border: 1px #59d7d1;
    color: rgb(168, 168, 168);
    width: 100%;
   
}
footer a{
    text-decoration: none;
    color:inherit;
    
    
}



/*los media queries*/

@media(min-width:1200px){
    footer{
        bottom: auto;
        font-size: 24px;
    }
    
}
@media (max-width: 768px) {
    /* Estilos para dispositivos con un ancho de pantalla menor o igual a 768px */

    /* Ejemplo de ajuste de header */
    header {
        flex-direction: column;
        align-items: center;
    }

    .funko-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .funko-card {
        width: 100%;
        margin: 10px 0;
    }
    footer{
        font-size: 12px;
    }
}


