


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}


.logo {
    margin-right: auto;  
    margin-top: 2px;
}

.logo img {
     max-height: 70px;
     max-width: 70px;
    display: block;
    margin-left: -110px;  
    margin-top: 10;
}
.carrito{
    margin-right: auto;  
    margin-top: 2px;
}
.img .carrito{
    max-height: 50px;
    max-width: 50px;
    display: block;
    margin-left: 0px;  
    margin-top: 10;
}
#carrito {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    z-index: 100;
}

.carrito:hover #carrito {
    display: block;
}

.user{
    margin-right: auto;  
    margin-top: 2px;
}
.user img{
    max-height: 45px;
    max-width: 45px;
    display: block;
    margin-left: -110px;  
    margin-top: 10;
}
 
.search-bar {
    flex: 1;  
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    width: 400px;
    padding: 12px;
    border: 1px solid #111;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
}

.search-bar button {
    padding: 8px 15px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #777;
}

